<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lgybetter.smsproject" >
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".activity.SmsMainActivity"
            android:label="@string/title_activity_sms_main" >
        </activity>
        <activity android:name=".activity.SmsMessageActivity" >
        </activity>
        <activity android:name=".activity.SmsAddressBookActivity" >
        </activity>
        <activity android:name=".activity.SmsMailActivity" >
        </activity>
        <activity
            android:name=".activity.SmsFrequentContactAcctivity"
            android:label="@string/title_activity_sms_frequent_contact_acctivity" >
        </activity>
        <activity android:name=".activity.SmsMessageContextActivity">
        </activity>
        <activity android:name=".activity.SmsDefinedGroupActivity">
        </activity>
        <activity android:name=".activity.SmsSetTimeActivity">
        </activity>
        <activity android:name=".activity.SmsAddNewMessageActivity">
        </activity>
        <activity android:name=".activity.SmsAddressBookListActivity">
        </activity>
        <activity android:name=".activity.SmsDefinedGroupListActivity">
        </activity>
        <activity android:name=".activity.SmsEditAddressBookActivity">
        </activity>
        <activity android:name=".activity.Application_FirstRunActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity">
        </activity>
        <activity android:name=".activity.AddNewContactsToSendActivity">
        </activity>
        <activity android:name=".activity.SelectTemplateActivity">
        </activity>
        <activity android:name=".activity.SmsMailLoginAcitivty">
        </activity>
        <activity android:name=".activity.SmsMailContentActivity">
        </activity>
        <activity android:name=".activity.SmsAddNewContactActivity">
        </activity>
        <activity android:name=".activity.SmsSendMailActivity">
        </activity>
        <service android:name="service.LoadAddressBookData">
        </service>
        <service android:name="service.LoadMessageData">
        </service>
    </application>

</manifest>
